[Unit]
Description=GNOME Keyring Unlock Service

[Service]
Type=simple
ExecStart=/usr/bin/gnome-keyring-unlock
Restart=on-failure

[Install]
WantedBy=default.target
